
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>@Html.ActionLink("模块标签", "Index", "TagFather")</p>
        <p>@Html.ActionLink("内容标签", "Index", "TagSon")</p>
        <p>@Html.ActionLink("行为标签", "Index", "TagBehavior")</p>
    </div>
</body>
</html>
